{% extends "base.html" %}
{% block content %}
{% load static %}
<u>
 About us:
</u>

<P>
What we're about:
</P>

<p>
    At CRC we strive to make renting a car as simple and personal as buying your own.
    Renting a car brings you freedom, and CRC will help you find the right car for you at a great price.
    But there’s much more to us than that. CRC is here to make renting a car a lot less of a hassle.
</p>

<p>
Why use us:
</p>

<p>
    To put it n simple terms, we bring the highest value and peace of mind throughout your rental car journey.
    We use all our experience – and the experiences of millions of our customers – to bring you the car you need and the quality of service you want.
    Always at the best price. But don’t take our word for it. We were awarded the best car rental website of 2017 at the Travvy Awards.
    <img src="{% static '/images/Travvy.jpg' %}" class="center">
</p>

<p>
Who we are:
</p>

<p>
Founded by car fanatic Jeffery Lamar Williams in 2010, CRC has expanded from Brisbane across multiple other states in Australia to become the nation's number 1 car rental service. 
</p>


{% endblock %}