{% extends "base.html" %}
{% block content %}
{% load static %}
<U>
Latest Deals
</U>


<P>
Baby Booster Campaign:
</P>

 <p>
  At CRC, child safety is our number 1 priority.
    Therefore it is our mission to ensure for every car rented, a child safety seat will be included without charge when necessary.
Terms and conditions apply. Must be an actual child to qualify.
</p>
    <center>
   <img src="{% static '/images/babybooster.jpg' %}" width="200" height="10" alt = baby>

 </center>

<p  >
2 days free rental:
</p>

<p>
8 days rental for the price of 6 when you rent with CRC
<center>
   <img src="{% static '/images/2 days free.jpg' %}" width="400" height="10" alt = 8days>
</center>

</p>

<p>
Family deal!
</p>

<P>
10% of any rental fees for a family. (Minimum 2 adults and 1 child)
<center>
   <img src="{% static '/images/Family-Roadtrip.jpg ' %}" width="400" height="10" alt = family>
</center>

</P>


<p>
Double Qantas Points
</p>

<p>
Rent any selected car for 7+ days and receive double frequent flyer points!

<center>
   <img src="{% static '/images/exotic-driving-experiences.jpg' %}" width="400" height="10" alt = flyer>
</center>
</p>

<p>
Extra Storage
</p>

<p>
Need extra storage? 7 days rental for the price of 4 on selected vehicles.
<center>
   <img src="{% static '/images/van.jpg' %}" width="400" height="10" alt = van >
</center>
</p>

















{% endblock %}

