{% extends "base.html" %}
{% block content %}
{% load static %}

 <u>
    Products and Services
 </u>

 <p>
    Learn More about our products and services:
</p>

<u>
Services:
</u>

<p>
Cleaning service:
</p>

<p>
All of our vehicles are professionally cleaned and vacuumed inside out. Money back if not satisfied. Terms and conditions apply.
<center>
   <img src="{% static '/images/carwash-washing-car2.jpg' %}" width="400" height="10" alt = customer_service>
</center>
</p>
</p>


<p>
5 star customer service:
</p>

<p>
Award winning customer serivce has long been the foundation for CRC. Our staff works around the clock 24/7 to bring the finest customer service possible.
<center>
   <img src="{% static '/images/customer service stock footage.jpg' %}" width="400" height="10" alt = customer_service>
</center>
</p>

 <p>
 Top notch insurance policy:
 </p>

    <p>
     Any damage to the rented vehicles that was not caused by the renter will not be charged. We will cover those costs! Contact our Insurance Team
    for information at 000 911.

 <center>
   <img src="{% static '/images/9.jpg' %}" width="400" height="10" alt = insurance>
</center>
   </P>

<u>
Products:
</u>

<p>
CRC Mobile Application:
</p>
<p>
<img src="{% static '/images/app stores.png' %}" class="center">
CRC is proud to annouce that our mobile application will be launching 2025. Book and manage your CRC car rental straight from your phone!
    Looking to choose your own vehicle upon arrival? How about skip the counter at pickup?
    Do all of this and more right from your phone using the CRC App! Renting a car has never been easier. Coming soon!
</p>



<p>
GPS navigation:
</p>

<p>
CRC offers portable satellite navigation with any car rental. Don't ever get lost again!
<center>
   <img src="{% static '/images/gps.jpg' %}" width="400" height="10" alt = gps>
</center>
</p>





{% endblock %}

