/*CRCAPP
*
*Author: Alan
*Date: 2018
*/

/*Start Public Domain Access Reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: center;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color:#F08080;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: auto;
}
li {
    float: left;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color:#F08080;
    color: black;
}

li a:hover:not(.active) {
    background-color: #F08080;
    color: white;
}
#page {
	margin-left: 0%;
}